*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*font*/
body{
    font-family: 'Poppins', sans-serif;
}
/*Navigation*/
.navbar{
    display: flex;
    align-items: center;
	max-width: 1150px;
	margin: auto;
}
.logo{
	display: flex;
	text-align: center;
    align-items: center;
    margin-top: 27.2px; /*converted rem to px*/
}
nav{
	flex: 1;
    text-align: right;
	margin-right: 10rem;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black; /*Please Modify Color if needed*/
}
p{
    color: black;
}
.container{
	background:white;
    padding: 17px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*header*/
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 20px 0;
}
.btn{
    display: inline-block;
    background: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: orangered;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(white,black);
    background-position: inherit;
    background-size: cover;
    position: relative;
}
.header row{
    margin-top: 70px;
}
/*categories*/
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/*Featured Products*/
.col-4{
    flex-basis: 25px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;

}
.title{
    text-align: center;
    margin: 0 auto 80 px;
    position: relative;
    line-height: 60px;
    color:black;
}
.title::after{
    content: '';
    background:gray;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: black;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*offer*/
.offer{
    background: radial-gradient(white,black);
    margin-top: 80px;
    padding-top: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: black;
}
/*footer*/
.footer{
    background: black;
    color: gray;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: gray;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: lightgray;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}


