@import url(https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: white;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#222;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/*header*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:sticky;
    top:0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #222;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: #c96;
}

#navbar li a:hover,
#navbar li a.active{
    color:#c96
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#c96;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#wishlist-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #222;
}


/*home page*/
#hero{
    background-image: url(CS1014-Group-4/img/acer.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color:#c96;
}

#hero button{
    display: inline block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
#hero-button:hover{
    border: 1px solid #222;
    background: #222;
    transition: .8s;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .featbox{
    width: 100px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .featbox:hover{
    box-shadow: 20px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .featbox img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .featbox h6{
    padding: 9px 8px 9px 8px;
    line-height:1;
    border-radius: 4px;
    color:white;
    background-color: black;
}

/*#feature .featbox h6:nt-child(2) h6{
    background-color: ;
} this is for individual text change in features*/

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10p 12px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#product1 .pro img{
    width: 100%;
    border-radius: 25px;
}

#product1 .pro .des{
    text-align: start;
    padding: 20px 0;
}

#product1 .pro .des span{
    color: #c96;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding: 7px;
    color:#222;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 14px;
    color: gold;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700 ;
    color: #c96;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: whitesmoke;
    font-weight: 500;
    color: #c96;
    border: 1px solid #222;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(CS1014-Group-4/assets/images/slide-2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
 
#banner h2 span{
    color: orangered;
    font-size: 30px;
    padding: 10px 0;
}

#banner button;hover{
    background-color: #c96;
    color: white;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(CS1014-Group-4/assets/images/slide-2.jpg);
    min-width: 500px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size: 20px;
    font-weight: 800;
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
}

